.Page {
    display: block;
    flex-flow:  row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.Page nav {
    background-color: #212529;
    margin-bottom: 5em;
}

.Page ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}


.Page li {
    display: inline-block;
    margin: 20px;
}

.Page a {
    text-decoration: none;
    color: white;
}

.Page a:hover,
.Page a:active {
    color: cornflowerblue;
}
